<section class="middle-block">
  <h1>Uxpodcast E196 - Accessibility</h1>
  <section>
  <section class="hosts">
    <div class="hosts__center">
      <div class="hosts__item per">
        <img class="host" src="./img/par.jpg" alt="">
        <div class="host circle" id="per-circle">
          <img src="./img/speak.svg" alt="">
        </div>
      </div>
      <div class="hosts__item james">
          <img class="host" src="./img/james.jpg" alt="">
          <div class="host circle" id="james-circle"></div>
      </div>
      <div class="hosts__item jessica">
          <img class="host" src="./img/jessica.jpg" alt="">
          <div class="host circle" id="jessica-circle"></div>
      </div>
    </div>
  </section>
  <section class="podcast-text">
  </section>
    <section class="podcast-player">
      <button class="play" type="button" name="button">
        <img src="./img/play-button.svg" alt="">
      </button>
      <button class="pause" type="button" name="button">
        <img src="./img/pause.svg" alt="">
      </button>
      <div class="timer-block"></div>
    </section>
  </section>
</section>
