<h1>Uxpodcast E196 - Accessibility</h1>
<section class="hosts">
  <div class="hosts__center">
    <div class="hosts__item per">
      <img class="host" src="./img/par.jpg" alt="">
    </div>
    <div class="hosts__item james">
        <img class="host" src="./img/james.jpg" alt="">
    </div>
    <div class="hosts__item jessica">
        <img class="host" src="./img/jessica.jpg" alt="">
    </div>
  </div>
</section>
<section class="podcast-text">
</section>
<section class="podcast-player">
  <button class="play" type="button" name="button">play</button>
  <button type="button" name="button">pause</button>
  <select type="button" name="button">
    <option value="">1.00</option>
    <option value="">1.25</option>
    <option value="">1.50</option>
    <option value="">0.75</option>
    <option value="">0.50</option>
  </select>

  <p class="timer-block"></p>


</section>
