<section class="middle-block">
  <h1 class="title">Accessibility.</h1>
  <section class="podcast">
    <img class="podcast__flag" src="/img/flag.svg" alt="">
  <section class="podcast__text">
  </section>
  <section class="hosts">
    <div class="hosts__center">
      <div class="hosts__item per">
        <p>per</p>
        <img class="host" src="./img/par.jpg" alt="">
        <div class="host circle" id="per-circle">

        </div>
      </div>
      <div class="hosts__item james">
        <p>james</p>
          <img class="host" src="./img/james.jpg" alt="">
          <div class="host circle" id="james-circle">

          </div>
      </div>
      <div class="hosts__item jessica">
        <p>jessica</p>
          <img class="host" src="./img/jessica.jpg" alt="">
          <div class="host circle" id="jessica-circle">

          </div>
      </div>
    </div>
  </section>
    <section class="podcast__player">
      <button class="play" type="button" name="button">
        <img src="./img/play-button.svg" alt="">
      </button>
      <button class="pause" type="button" name="button">
        <img src="./img/pause.svg" alt="">
      </button>
      <button class="reset" type="button" name="button">
        <img src="./img/reload.svg" alt="">
      </button>
      <div class="timer-block">
        <div class="timer-block__inner">

        </div>
      </div>
    </section>

    <section class="podcast__color-scheme">
      <h4>Emoties</h4>
      <ul class="">
        <li class="yellow">Blij</li>
        <li class="red">Boos</li>
        <li class="purple"> Verontwaardigd</li>
        <li class="dark"> Serieus</li>
        <li class="blue"> Vragend</li>
      </ul>
      <div class="podcast__color-open"></div>
    </section>
  </section>
</section>
