* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

@font-face {
  font-family: "ITC Avant Garde Gothic LT";
  src: url("./fonts/AvantGardeLT-Bold.woff2") format("woff2"), url("./fonts/AvantGardeLT-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal; }

h1 {
  font-family: "ITC Avant Garde Gothic LT";
  font-size: 28px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px; }

h3 {
  font-family: "ITC Avant Garde Gothic LT";
  font-size: 19px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }

h4 {
  font-family: "ITC Avant Garde Gothic LT";
  font-size: 16px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px; }

p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px; }

p {
  margin-bottom: 0.4em;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

body {
  height: 100vh;
  padding: 1rem;
  background-size: 350px;
  font: 13px, Helvetica, Arial;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/img/pinstripebackground.jpg);
  background-size: 150px; }

ul {
  font-size: 14px;
  border-radius: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif; }

button {
  background-color: #828282;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 0; }
  button:active {
    background: #f04e61;
    background: -moz-linear-gradient(left, #f04e61 0%, #e03075 100%);
    background: -webkit-linear-gradient(left, #f04e61 0%, #e03075 100%);
    background: linear-gradient(to right, #f04e61 0%, #e03075 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04e61', endColorstr='#e03075',GradientType=1 ); }
  button:hover {
    background: #f04e61;
    background: -moz-linear-gradient(left, #f04e61 0%, #e03075 100%);
    background: -webkit-linear-gradient(left, #f04e61 0%, #e03075 100%);
    background: linear-gradient(to right, #f04e61 0%, #e03075 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04e61', endColorstr='#e03075',GradientType=1 ); }

.logo {
  position: absolute;
  z-index: -1;
  width: 200px;
  left: 1rem;
  top: 1rem;
  background-color: #fdfbfb;
  padding: 1rem;
  border: 1px solid #f6eff1; }

.active {
  background: #f04e61;
  background: -moz-linear-gradient(left, #f04e61 0%, #e03075 100%);
  background: -webkit-linear-gradient(left, #f04e61 0%, #e03075 100%);
  background: linear-gradient(to right, #f04e61 0%, #e03075 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04e61', endColorstr='#e03075',GradientType=1 ); }

.title {
  color: #df3275;
  margin-bottom: 0.5em; }

.hosts {
  width: 100%;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center; }
  .hosts__center {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem; }
  .hosts__item {
    position: relative;
    margin: 1rem;
    text-align: center;
    z-index: 1; }
    .hosts__item p {
      font-size: 13px;
      position: absolute;
      bottom: 0.5rem;
      text-align: center;
      color: #fff;
      width: 100%;
      text-transform: capitalize; }

.podcast {
  position: relative; }
  .podcast__flag {
    position: absolute;
    width: 200px;
    left: -120px;
    z-index: -1;
    top: 1rem;
    transition: 0.4s; }
    .podcast__flag:hover {
      transform: translateX(-10px); }
  .podcast__player {
    display: flex; }
  .podcast__color-scheme {
    position: absolute;
    right: 0;
    bottom: 20%;
    margin-top: -7rem;
    height: 18rem;
    padding: 1rem 1.5rem;
    background-color: #fff;
    -webkit-box-shadow: 0px -7px 5px -4px rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0px -7px 5px -4px rgba(0, 0, 0, 0.07);
    box-shadow: 0px -7px 5px -4px rgba(0, 0, 0, 0.07);
    border-radius: 0 10px 10px 0;
    transition: transform 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    z-index: -1; }
    .podcast__color-scheme h4 {
      margin-bottom: 0.5em;
      color: #f04e61; }
    .podcast__color-scheme ul {
      list-style-type: none;
      padding-left: 0; }
      .podcast__color-scheme ul li {
        display: flex;
        align-items: center;
        margin-bottom: 0.5em;
        padding: 0.5em; }
        .podcast__color-scheme ul li div {
          margin-right: 5px; }
  .podcast__color-open {
    position: absolute;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 3rem;
    left: -2rem;
    top: 0; }
  .podcast__text {
    background-image: url(/img/linnen.jpg);
    border: 1px solid #ececec;
    padding: 1rem;
    min-height: 300px;
    max-height: 300px;
    height: 100%;
    overflow: scroll;
    scroll-behavior: smooth; }
    .podcast__text p {
      background-color: #fff;
      border: 1px solid #ececec;
      padding: 0.4em 1em;
      -webkit-box-shadow: 3px -3px 3px -4px rgba(0, 0, 0, 0.07);
      -moz-box-shadow: 3px -3px 3px -4px rgba(0, 0, 0, 0.07);
      box-shadow: 3px -3px 3px -4px rgba(0, 0, 0, 0.07); }
      .podcast__text p:last-of-type {
        background-color: #acafb1;
        color: #fff; }

.pause {
  padding: 1rem 1.3rem;
  border-radius: 0 0 10px 10px; }
  .pause img {
    width: 10px; }

.reset {
  padding: 1rem 1.3rem;
  border-radius: 0 0 10px 10px; }
  .reset img {
    width: 15px; }

.play {
  padding: 1rem 1.2rem;
  border-radius: 0 0 10px 10px; }
  .play img {
    width: 15px; }

.timer-block {
  width: 100%;
  height: 0.5rem;
  background-color: #efefef;
  overflow: hidden; }
  .timer-block__inner {
    height: 100%;
    width: 0%;
    transition: 0.1s;
    background: #f04e61;
    background: -moz-linear-gradient(left, #f04e61 0%, #e03075 100%);
    background: -webkit-linear-gradient(left, #f04e61 0%, #e03075 100%);
    background: linear-gradient(to right, #f04e61 0%, #e03075 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f04e61', endColorstr='#e03075',GradientType=1 ); }

.host {
  max-width: 150px;
  width: 100%;
  border-radius: 100px;
  z-index: 1; }

.circle {
  position: absolute;
  z-index: -1;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transform: scale(0.97);
  transition: 0.3s;
  background-color: #fff; }
  .circle img {
    width: 30px;
    position: absolute;
    z-index: -1; }

.open {
  transform: translateX(160px); }

.talking {
  animation: talk 0.8s; }

.active-talking {
  transform: scale(1.1); }

.middle-block {
  max-width: 600px;
  width: 100%;
  display: block; }

.small-circle {
  width: 10px;
  height: 10px;
  background-color: red;
  border: 1px solid #ececec;
  border-radius: 100%;
  -webkit-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 0.2); }

.yellow {
  background-color: #e4d305; }

.red {
  background-color: #e15e5e; }

.purple {
  background-color: #8c69f2; }

.white {
  background-color: #fff;
  border: 1px solid #efefef; }

.dark {
  background-color: #383e58;
  color: #fff; }

.blue {
  background-color: #69a7f2; }

@keyframes talk {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0); }
  20%,
  80% {
    transform: translate3d(1px, 0, 0); }
  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0); }
  40%,
  60% {
    transform: translate3d(1px, 0, 0); } }
