* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  $blue: #8df0bc;
}
//
// h1,
// h2,
// h3,
// h4,
// h5 {
//   color: #fff;
//   margin-bottom: 0.5em;
// }
h1 {
  font-family: Helvetica;
  font-size: 24px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 26.4px;
}
h3 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 700;
  line-height: 15.4px;
}
p {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 20px;
}

p {
  margin-bottom: 0.4em;
  font-size: 16px;
  border-radius: 20px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

body {
  margin: 1rem;
  background-color: #111;
  background-size: 350px;
  font: 13px, Helvetica, Arial;
  display: flex;
  justify-content: center;
}

button {
  background-color: #8df0bc;
  border: none;
  color: #000;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-right: 0;

  &:active {
    background-color: #78ba94;
  }
  &:hover {
    background-color: #8ecea8;
  }
}

.active {
  background-color: #78ba94;
}

.hosts {
  width: 100%;
  background-color: #f2f2f2;
  background-image: url(/img/background.png);
  background-size: 350px;
  display: flex;
  justify-content: center;
  align-items: center;

  &__center {
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 1rem;
  }

  &__item {
    position: relative;
    margin: 1rem;
    text-align: center;
    z-index: 1;
  }
}

.podcast-text {
  background-color: #fff;
  padding: 1rem;
  min-height: 200px;
  max-height: 300px;
  height: 100%;
  overflow: scroll;
  scroll-behavior: smooth;
  -webkit-box-shadow: 0px -7px 5px -4px rgba(0, 0, 0, 0.07);
  -moz-box-shadow: 0px -7px 5px -4px rgba(0, 0, 0, 0.07);
  box-shadow: 0px -7px 5px -4px rgba(0, 0, 0, 0.07);

  p {
    background-color: #efefef;
    padding: 0.4em 1em;

    &:nth-child(odd) {
      background-color: #919191;
    }

    &:last-of-type {
      background-color: lightgreen;
    }
  }
}

.pause {
  padding: 1rem 1.3rem;
  img {
    width: 10px;
  }
}

.play {
  padding: 1rem 1.2rem;
  img {
    width: 15px;
  }
}

.timer-block {
  width: 100%;
  background-color: green;
}

.host {
  max-width: 150px;
  width: 100%;
  border-radius: 100px;
  z-index: 1;
}

.circle {
  position: absolute;
  z-index: -1;
  top: -2px;
  left: 0;
  width: 100%;
  height: 100%;
  -webkit-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.2);
  background-color: #fff;
  transform: scale(0.97);
  transition: 0.3s;
  background-color: #fff;

  img {
    width: 30px;
    position: absolute;
    z-index: -1;
  }
}

.talking {
  animation: talk 0.8s;
}

.active-talking {
  transform: scale(1.1);
}

.middle-block {
  max-width: 600px;
  width: 100%;
  display: block;
}

.happy {
  background-color: yellow;
}

.mad {
  background-color: red;
}

.sad {
  background-color: grey;
}

.question {
  background-color: lightblue;
}

@keyframes talk {
  10%,
  90% {
    transform: translate3d(-1px, 0, 0);
  }

  20%,
  80% {
    transform: translate3d(1px, 0, 0);
  }

  30%,
  50%,
  70% {
    transform: translate3d(-1px, 0, 0);
  }

  40%,
  60% {
    transform: translate3d(1px, 0, 0);
  }
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}
